%fieldset.nested-fields
  %div
    .row.justify-content-md-center
      .col-md-5
        = f.input_field :answer_text, required: true, as: :string, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Task name"}, placeholder: "Insert Answer"
      .col-md-5.offset-md-1
        = f.input_field :additional_response, required: true, as: :string, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Task name"}, placeholder: "Insert Response"
    //= f.input :upload_needed, as: :boolean, checked_value: true, unchecked_value: false

  %div
    = link_to_remove_association "Remove Answer", f
  //btn-primary btn-xs
      
