- content_for :title, ''

.card.mb-3
  %br
  .card-header
    Assessment page 
  .card-body
    %ul.pagination.justify-content-center
      %li 
        Click on the desired assessment: 
        #tasks-list.list-group.overflow-auto.p-1
          = render partial: 'tasks_list', locals: {tasks: @tasks}
