-# 
  Javascript file used to replace render an updated assessment list, after successfully searching 
$('#assessment-list').html("#{escape_javascript(render partial: 'assessment_list', locals: { assessments: @assessments } )}  "); 