<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:white;">
    <h1>You have been assigned a new task</h1>
    <p>
      Hello <%= @name %>,
    </p>
    <p>
      You have been assigned a new task, please process this task as soon as possible.
    </p>
  </body>
</html>