#new-task-panel.card.m-2.w-100.h-100
    = simple_form_for @vendor do |f|

        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        
        .card-header.d-flex.justify-content-between.align-items-center.form-inputs
        %h5.m-0 Vendor Settings 

        .card-body

            .row.mb-3
                %label.col-sm-2.col-form-label{:for => "inputEmail3"} Vendor Email
                .col-sm-10
                    %input#inputEmail3.form-control{:type => "email", :placeholder => @user.email}/
            .row.mb-3
                %label.col-sm-2.col-form-label{:for => "companyName"} Company Name
                .col-sm-4
                    %input#companyName.form-control{:placeholder => @vendor.company_name}/
                %label.col-sm-2.col-form-label{:for => "companyNum"} Company Number
                .col-sm-4
                    %input#companyNum.form-control{:placeholder => @vendor.company_number}/    
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "initialScore"} Initial Score
                .col-sm-3
                    %input#initialScore.form-control{:placeholder => @vendor.initial_score}/  
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "creditRating"} Credit Rating
                .col-sm-3
                    %input#creditRating.form-control{:placeholder => @vendor.credit_rating}/ 
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "kpi"} KPI
                .col-sm-3
                    %input#kpi.form-control{:placeholder => @vendor.kpi}/ 
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "riskRating"} Risk Rating
                .col-sm-3
                    %input#riskRating.form-control{:placeholder => @vendor.risk_rating}/ 
        

