- content_for :title, "Admin Home"
.card
  .card-header
    %h3.panel-title Admin Dashboard
  .card-body
    .row  
      //First Column, containing the sort by menu
      .col-4 
        .card.mb-2
          .card-header.font-weight-bold
            Sort By
          .card-body
            %nav.nav.flex-column.nav-fill.nav-pills
              %a.nav-link{:href => "#"} All Tasks
              %a.nav-link{:href => "#"} Upcoming Tasks
              %a.nav-link.active{:href => "#"} Overdue Tasks
              %a.nav-link{:href => "#"} Priority Descending
              %a.nav-link{:href => "#"} Priority Ascending
              %a.nav-link{:href => "#"} Vendor Risk Tasks Descending
              %a.nav-link{:href => "#"} Recently Completed
      //Second Column, containing the task dashboard table  
      .col-8
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr.active 
              %th Vendor
              %th Priority
              %th Due Date
              %th Task Title

            %tbody

            -@tasks.each do |giventask|
              %tr
                -@task = Task.find_by(task_id: giventask.task_id)
                -@vendor = Vendor.find_by(vendor_id: giventask.vendor_id)
                %td= @vendor.company_name
                %td= giventask.priority 
                %td= giventask.due_date
                %td= @task.task_title


        %ul.pagination.justify-content-center
          %li.page-item 
            %a.page-link{:href => "#"} Prev
          %li.page-item 
            %a.page-link{:href => "#"} 1
          %li.page-item  
            %a.page-link{:href => "#"} 2
          %li.page-item  
            %a.page-link{:href => "#"} 3
          %li.page-item  
            %a.page-link{:href => "#"} 4
          %li.page-item  
            %a.page-link{:href => "#"} 5
          %li.page-item  
            %a.page-link{:href => "#"} Next
