-#
    Admin setting page, where admin can change personal details

- content_for :title, "Admin Settings"

.card
  .card-header
    %h3.panel-title Admin Settings


  .card-body
    -#body with all settings changable 
    %form 
      .form-group.row 
        %label.col-sm-2.col-form-label{:for => "adminName"}Name
        .col-sm-10 
          %input.form-control{:type => "text", :id => "adminName", :placeholder => "Bob Smith", :disabled => true}

      .form-group.row 
        %label.col-sm-2.col-form-label{:for => "adminUsername"}Name
        .col-sm-10 
          %input.form-control{:type => "text", :id => "adminUsername", :placeholder => "BSmith365"}
          
      .form-group.row 
        %label.col-sm-2.col-form-label{:for => "adminEmail"}Email
        .col-sm-10 
          %input.form-control{:type => "email", :id => "adminEmail", :placeholder => "BobSmith@gmail.com"}
      
      .form-group.row 
        .col-sm-10.offset-sm-2 
          %button.btn.btn-primary{:type => "submit"}Update Settings

   

    
