-# 
  Javascript file used to replace and render an updated tasks list, after successfully searching tasks
$('#display-vendor-panel').html("#{escape_javascript(render partial: 'display_vendor', locals: { vendors: @vendorL } )}  "); 