#task-detail-panel.w-100.p-3.d-flex.flex-column.justify-content-between
  .flex-column
    %p
      %span.font-weight-bold> Task ID:&nbsp;
      = task.task_id 
    %p
      %span.font-weight-bold> Name:&nbsp;
      = task.task_title
    %p
      %span.font-weight-bold> Task Description:&nbsp;
      = task.task_description
    %p
      %span.font-weight-bold> Time Estimation:&nbsp;
      = task.estimation.to_s + " minutes"

  .d-md-inline-flex.mt-3
    %button.btn.btn-primary.p-6.mr-2{:type => "button"}
      Assign
    %button.btn.btn-primary.p-6.mr-2{:type => "button"}
      Edit
    %button.btn.btn-danger.p-6.mr-2{:type => "button"}
      Delete