- content_for :title, "[Admin] tasks management"

.d-flex.m-4{:style => "height: 80vh; overflow: visible;"}
  #tasks-panel.card.m-2.w-100.h-100
    .card-header.d-flex.justify-content-between.align-items-center
      %h5.m-0 Tasks
      %form.d-flex
        %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-primary{:type => "submit"} Search
    .card-body.p-0.d-flex
      #task-list-panel.w-50.p-3.d-flex.flex-column.justify-content-between.border-right
        .list-group.overflow-auto.p-1
          -@tasks.each do |task|
            = link_to task.task_title, fetch_task_path(task_id: task.task_id), remote: true, class: "list-group-item list-group-item-action", type: "button"
            //%button.list-group-item.list-group-item-action{:type => "button"}= task.task_title
          
        %nav.mt-2{"aria-label" => "Page navigation"}
          %ul.pagination.justify-content-center
            %li.page-item.disabled
              %button.page-link{"aria-disabled" => "true", "aria-label" => "Previous", :tabindex => "-1"}
                %span{"aria-hidden" => "true"} «
            %li.page-item.active
              %button.page-link 1
            %li.page-item
              %button.page-link 2
            %li.page-item
              %button.page-link 3
            %li.page-item
              %button.page-link{"aria-label" => "Next"}
                %span{"aria-hidden" => "true"} »
      #task_index
        = render partial: "show_task", locals: {task: @first_task}
  #new-task-panel.card.m-2.w-50.h-100
    //All the input elements will be defaulted to the form-control class
    = render partial: "form", locals: {task: @task, assessments: @assessments}



  //Not sure whether vendors should be in this form, I think they should be set after the task is created
  -# .input-group.mb-3
  -#   .input-group-prepend
  -#     %span#basic-addon-venders.input-group-text 
  -#       = icon 'fas', 'user'
  -#   %input.form-control{"aria-describedby" => "basic-addon-venders", "aria-label" => "Venders", :placeholder => "Venders", :type => "string"}/
  -# .input-group.mb-3
  -#   .input-group-prepend
  -#     %span#basic-addon-tasktype.input-group-text 
  -#       = icon 'fas', 'tasks'
  -#   //%input.form-control{"aria-describedby" => "basic-addon-tasktype", "aria-label" => "Task type", :list => "tasktypeOptions", :placeholder => "Task type", :type => "text"}/
  -#   = f.input_field :upload_type, placeholder: "Task type",  as: :string, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Task ntypeame"}, list: "tasktypeOptions"
  -#   //Not sure which options needed, or if the task type is even needed? Not sure 
  -#   %datalist#tasktypeOptions
  -#     %option{:value => "Assessment"}
  -#     %option{:value => "Document Upload"}

    //I think that the calender and vendor choosing should be after the task creation, where the task can clicked on, then assigned to people
    -# .card.mb-3
    -#   .card-header.py-1.px-3
    -#     %label.form-label.my-0{:for => "scheduleDate"} 
    -#       = icon 'fas', 'calendar'
    -#       %span.ml-1 Schedule
    -#   .card-body.p-2
    -#     .mb-2
    -#       %input#scheduleDate.form-control{:placeholder => "", :type => "date", :value => "2021-03-01"}/
    -#     .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
    -#       %label.btn.btn-outline-primary.active
    -#         %input#option-no-repeat{:checked => "checked", :name => "options", :type => "radio"}/
    -#         no repeat
    -#       %label.btn.btn-outline-primary
    -#         %input#option-quarterly{:name => "options", :type => "radio"}/
    -#         quarterly
    -#       %label.btn.btn-outline-primary
    -#         %input#option-monthly{:name => "options", :type => "radio"}/
    -#         monthly
    