%br
#wrapper
    %select
        %option{:selected => "selected"} Sort By
        %option{:value => "1"} A-Z
        %option{:value => "2"} Z-A
        %option{:value => "3"} Newest First
        %option{:value => "4"} Oldest First
.card.mb-3
    %br
    %table{:width=>"100%",:border=>"1"}
        %tr
            %th Task
            %th Date Assigned
            %th Date Completed
            %th Mark as complete
        %tr
            %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec,
            %td December 10, 2021
            %td December 20, 2021
            %td
                %input{:name => "name1", :type => "checkbox"}>/
                \ 
            
        %tr
            %td mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.
            %td December 9, 2021
            %td December 14, 2021
            %td
                %input{:name => "name1", :type => "checkbox"}>/
                \ 
           
        %tr 
            %td Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.
            %td August 17, 2021
            %td September 1, 2021
            %td
                %input{:name => "name1", :type => "checkbox"}>/
                \ 
            
        %tr
            %td Aenean velit odio, elementum in tempus ut, vehicula eu diam.
            %td June 24, 2021
            %td In progress
            %td
                %input{:name => "name1", :type => "checkbox"}>/
                \ 
    %br
    %div
    %ul.pagination.justify-content-center
        %li
            %button.btn.btn-primary.w-20{:type => "button"} Save Changes
