<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:white;">
    <h1>Account request accepted</h1>
    <p>
      Hello <%= @name %>,
    </p>
    <p>
      Your account request has been accepted. The login information is as follows:
    </p>
    <p>
      Email: <%= @email %>
      <br/>
      Password: <%= @password %>
    </p>
  </body>
</html>