-# 
  Index view for managing account requests
  Allows admin to view all account requests, accepting or denying them 
.d-flex.m-4{:style => "height: 80vh; overflow: visible;"}
  #requests-panel.card.m-2.w-100.h-100
    .card-header.d-flex.justify-content-between.align-items-center
      %h5.m-0 Request management
    .card-body.p-0.d-flex
      -# Request list
      #request-list-panel.w-50.p-3.d-flex.flex-column.justify-content-between.border-right
        .list-group.overflow-auto.p-1
          //If there are any account requests to display
          - if @pending_vendors != nil && @pending_vendors.length > 0
            - @pending_vendors.each do |vendor|
              = link_to vendor.company_name, fetch_request_path(vendor_id: vendor.vendor_id), remote: true, class: "list-group-item list-group-item-action", type: "button" 
          - else
            No pending request
      -# Request details
      #request-detail-panel.w-100.p-3.d-flex.flex-column.justify-content-between
        Please select a request
