- content_for :title, 'Edit assigned task'

= render 'form', locals: {given_task: @given_task}
    
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
  });