-# 
  Code renders partial form for editing a given task
- content_for :title, 'Edit assigned task'

= render 'form', locals: {given_task: @given_task}

//Javascript used to format the date picker, part of the 'bootstrap-datepicker-rails' gem
:javascript
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'});
  });