-# 
  Code renders partial form for editing a given task
- content_for :title, 'Edit assigned task'

= render 'form', locals: {given_task: @given_task, editing: @editing}

//Javascript used to format the date picker, part of the 'bootstrap-datepicker-rails' gem
:javascript
  var date = new Date();
  date.setDate((new Date()).getDate()-1);

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      startDate: date});
  });