-# 
  Code renders partial form for creating a new given task
- content_for :title, 'Assign Tasks'

= render 'form', locals: {given_task: @given_task}

//Javascript used to format the date picker, part of the 'bootstrap-datepicker-rails' gem   
:javascript
  var date = new Date();
  date.setDate((new Date()).getDate()-1);

  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      startDate: date});
  });