-# 
  Javascript file used to render the given tasks list, with the updated list resulted from a search
('#given_tasks_list').html("#{escape_javascript(render partial: 'given_task_list', locals: { given_tasks: @given_tasks } )}  "); 