-# 
  Javascript file used to render the show_given_task with the newly selected given_task
:plain
  $('#given_task_index').html("#{escape_javascript(render partial: 'show_given_task', locals: { given_task: @selected } )}  "); 
