- content_for :title, "Home"

-# :coffee
-#   $ ->
-#     $('#show-flash').on 'click', ->
-#       $.flashAlert('Hello world!', 'alert-success')


%div.d-flex.justify-content-center.align-items-center{:style => "height:80vh"}
  .card.text-center{:style => "width:30em"}
    .card-header
      Login

    .card-bodys.m-4
      .btn-group.btn-group-toggle.mb-3.w-50{"data-toggle" => "buttons"}
        %label.btn.btn-outline-primary.active
          %input#adminBtn{:checked => "checked", :name => "options", :type => "radio"}/
          Admin
        %label.btn.btn-outline-primary
          %input#vendorBtn{:name => "options", :type => "radio"}/
          Vendor

      .input-group.mb-3
        .input-group-prepend
          %span#basic-addon1.input-group-text Username
        %input.form-control{"aria-describedby" => "basic-addon1", "aria-label" => "Username", :placeholder => "Username/email", :type => "text"}/

      .input-group.mb-3
        .input-group-prepend
          %span#inputGroup-sizing-default.input-group-text Password
        %input.form-control{"aria-describedby" => "inputGroup-sizing-default", "aria-label" => "Sizing example input", :placeholder => "Password", :type => "password"}/

      %div
        %button.btn.btn-primary.w-100{:type => "button"} Login
        %p
        %button.btn.btn-success.w-100{:type => "button"} Register

    .card-footer.text-muted
      For security reasons, please log out and exit your web browser when you have finished accessing services that require authentication.

